{{> hero }}

<section class="section">
    <div class="container">
      <div class="content">
        <h2>{{ labels.course.lessons.title }}</h2>
        {{> course/list}}
    </div>
  </div>
</section>